<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand logo" routerLink="/">Sc</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">about</a>
      <a class="nav-item nav-link" href="#">ipsum</a>
      <a class="nav-item nav-link" href="#">lorem</a>
    </div>
    <div class="navbar-nav ml-auto">
      <button class="nav-item nav-link btn btn-outline-primary mr-sm-3" type="submit">log in</button>
      <button class="nav-item nav-link btn btn-outline-primary" type="submit">sign up</button>
    </div>
  </div>
</nav>
