<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand logo" routerLink="/">Sc</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/about">about</a>
    </div>
    <div class="navbar-nav ml-auto">

      <div *ngIf="auth.user | async; then authenticated else guest">

      </div>
    </div>
  </div>
</nav>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <a routerLink="/profile">
      <button class="nav-item nav-link btn btn-outline-primary">
        {{user.displayName}} Profile
      </button>
    </a>
  </div>
  <button class="nav-item nav-link btn btn-outline-primary" (click)="signOut()">Sign out</button>
  <app-notifications></app-notifications>
</ng-template>

<ng-template #guest>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="logindrop" ngbDropdownToggle>Log in</button>
    <div ngbDropdownMenu aria-labelledby="logindrop">
      <a routerLink="/login">
        <button class="dropdown-item">Soundcamp</button>
      </a>
      <button class="dropdown-item" (click)="gLogin()">Google</button>
    </div>
  </div>
    <a routerLink="/register">
    <button class="nav-item nav-link btn btn-outline-primary" type="submit">Register</button>
  </a>
</ng-template>
