<div class="container">
  <ng-container *ngIf="venue">
    <h1 class="text-white">{{ venue.displayName }}</h1>
    <h3 class="text-white">Address: {{ venue.street }}, {{ venue.city.displayName }}, {{ venue.city.country.displayName }}</h3>
    <h3 class="text-white">Phone: {{ venue.phone }}</h3>
    <h3 class="text-white">Website: <a href={{venue.website}}>{{venue.website}}</a></h3>
    <h3 class="text-white">Description:</h3><p class="text-white">{{venue.description}}</p>
    <h3 class="text-white">Capacity: {{ venue.capacity }}</h3>
  </ng-container>
  <ng-container *ngIf="upcomingEvents">
    <app-event-list [events]="upcomingEvents"></app-event-list>
  </ng-container>
  <div *ngIf="totalUpcomingEvents > upcomingEventsShown">
    <button class="btn btn-primary" (click)="showMoreUpcoming()" type="submit">show more</button>
  </div>
</div>
