<div class="row">
  <aside class="col-3 sidebar">
    <div class="sidebar-module">
      <ul class="content">
        <li>
          <h4>Artist</h4>
        </li>
        <li> 
          <h4>Location</h4>
        </li>
        <li>
            <h4>Venue</h4>
        </li>
      </ul>
    </div>
  </aside>
  <div class="col-9">
    <!-- <app-artist-list [searchQuery]="searchQuery"></app-artist-list> -->
    <!-- <app-location-list [searchQuery]="searchQuery"></app-location-list> -->
    <!-- <app-venue-list [searchQuery]="searchQuery"></app-venue-list> -->
  </div>
</div>