<div class="border-purple my-2 text-white media">
  <img class="align-self-center mx-3 my-2 rounded-circle"src="https://via.placeholder.com/64x64">
  <div class="media-body align-self-center">
    <div (click)="onSelected()">
      {{ artistName }}
    </div>
  </div>
  <div *ngIf="this.followingArtists[this.artistId] == this.artistName; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><button class="btn btn-primary" (click)="unFollow()">Unfollow</button></ng-template>
    <ng-template #elseBlock><button class="btn btn-primary" (click)="onFollow()">Follow</button></ng-template>
  
</div>
