<div *ngIf="user then exists else DNE">
</div>

<ng-template #exists>
  <div class="col-xs-4">
    <div *ngIf="user.photoURL">
      <img  [src]="user.photoURL" class="img-thumbnail">
    </div>
  </div>
  <div id="userinfo"class="col-xs-6">
    <p>username: {{ user.displayName }}  </p>

    <p>Email: {{ user.email }} </p>
  </div>
  <div id="events" class="container">
    <p id="title">Upcoming-events</p>
    <div *ngIf="upcomingEvents then events"> </div>
  </div>
  <div id="events" class="container">
    <p id="title">Following Artists</p>
    <div *ngIf="artistsFollowing then artists"> </div>
  </div>
</ng-template>

<ng-template #DNE>
  <h3>USER DOES NOT EXIST</h3>
</ng-template>

<ng-template #events>
  <div *ngFor="let event of upcomingEvents">
    <div class="col-xs-8">
      <p id="event"> {{ event.name }}</p>
    </div>
  </div>
</ng-template>

<ng-template #artists>
  <div class="artist">
      <div *ngFor="let artist of artistsFollowing">
        <a routerLink="/artist/{{artist[1]}}"><p> {{ artist[0] }}</p></a>
      </div>
  </div>
</ng-template>
