
.col-xs-4 img{
  width: 20%;
  float: left;
  margin-right: 40px;

}

#events{

  float: left;

}
#userinfo{

  font-size: 20px;
  margin-top: 10px;
  font-style: oblique;
  color:white;
  text-align: justify;
}
#Logout{
  width: 100%;
  margin-top:20px;
    float: left;
}
#event{
  text-align: justify;
  line-height: 1.2;
  word-spacing: 7px;
  font-size: 20px;
  color:white;
}
#title{

  font-size: 23px;
  color:white;
}
