<div *ngIf="Auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>
</ng-template>




<!-- User logged in -->
<div class="container">
      <div class="row">
    <div class="col-xs-6">
<ng-template #authenticated>
    <div *ngIf="Auth.user | async as user">
      <div class="col-xs-4">
      <div *ngIf="Auth.user.photoURL">
        <div *ngIf="Auth.user.photoURL">
          <img  [src]="user.photoURL" class="img-thumbnail">
        </div>
      </div>
    </div>
        <div id="userinfo"class="col-xs-6">
      <p>username: {{ user.displayName }}  </p>

      <p>Email: {{ user.email }} </p>
    </div>
</div>

  <div id="events" class="container">
    <p id="title">Upcoming-events</p>
    <div *ngIf="collections then events"> </div>
  </div>

    <div id="events" class="container">
      <p id="title">Following Artists</p>
    <div *ngIf="artistsFollowings then artists"> </div>
  </div>


</ng-template>
    </div>
    </div>
  </div>
<ng-template #events>
        <div *ngFor="let event of collections">
            <div class="col-xs-8">
                    <p id="event"> {{ event.name }}</p>
                        </div>
                  </div>


</ng-template>
<ng-template #artists>
  <div class="artist">
      <div *ngFor="let artist of artistsFollowings">
        <!-- <a routerLink="/artist/{{artist[1]}}"><p> {{ artist[0] }}</p></a> -->
        <div (click)="onSelected(artist[1], artist[0])"><p> {{ artist[0] }}</p></div>
      </div>
  </div>
</ng-template>
