.card {
  background-color: #7E57C2;
  color: white;
  padding: 10px;
  border: 3px solid;
  border-radius: 15px;
  border-color: #353a3f;
  height: auto;
  min-height: 70px;
  margin-left: 15%;
  margin-right: 10%;
  position: relative;
}

.track_button {
  position: absolute;
  top: 30%;
  right: 5%;
  font-size: 20px;
  padding: 8px;
  background-color: #353a3f;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: auto;
}
.body1{
background-color: #353a3f;
}
