<div class="container">
  <app-search-form></app-search-form>
  <ng-container *ngIf="upcomingEvents.length > 0">
    <div class="text-purple my-2">
        <h1>Your saved events:</h1>
    </div>
    <div *ngFor="let event of upcomingEvents">
      <div class="border-purple my-2 text-white media">
        <div class="media-body mx-3 my-3 align-self-center">
            {{ event }}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!loggedIn">
      <div class="text-purple my-2">
          <h1>Events near you:</h1>
      </div>
    <ng-container *ngIf="loading">
      <div class="text-purple my-2">
          <h3>loading...</h3>
      </div>
    </ng-container>
    <ng-container *ngIf="nearEvents">
      <app-event-list [events]="nearEvents"></app-event-list>
    </ng-container>
  </ng-container>
</div>
