<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Artist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Venue</a>
    </li>
  </ul>
  <div class="mb-4">
    <h1>Artists</h1>
    <ul>
      <li>Artist 1</li>
      <li>Artist 2</li>
      <li>Artist 3</li>
    </ul>
    <button class="btn btn-primary">show more</button>
  </div>
  <div class="mb-4">
    <h1>Location</h1>
    <ul>
      <li>Artist 1</li>
      <li>Artist 2</li>
      <li>Artist 3</li>
    </ul>
    <button class="btn btn-primary">show more</button>
  </div>
  <div>
    <h1>Venue</h1>
    <ul>
      <li>Artist 1</li>
      <li>Artist 2</li>
      <li>Artist 3</li>
    </ul>
    <button class="btn btn-primary">show more</button>
  </div>
</div>